{%extends 'app/base_admin.html'%}

{%block title%}Admin colour{% endblock  %}

{%block content%}
<style>
    .table .table_size {
        font-size: 17px;
    }
</style>


<div class="my-2 fw-bold fs-4 text-center">Manage colours</div>

<div class="mt-2 my-3 mx-3">
    <a href="{% url 'add_new_colours' %}" class="btn btn-success">Add new +</a>
</div>
<!-- Main -->
<main class="py-6 bg-surface-secondary mx-5">
    <div class="container-fluid me-auto">
        <!-- Card stats -->
        <table class="table table-hover table-responsive text-center" style="border: 1px solid black;">
            <thead>
            <tr>
                <th class="table_size">sl no:</th>
                <th class="table_size">colour</th>
                <th class="table_size">Action</th>               
            </tr>
            </thead>
            <tbody>
            {% for i in color %}
            <tr>
                <td class="table_size">{{forloop.counter}}</td>
                <td class="table_size">{{i.color}}</td>
                <td><a href="edit_colours/{{i.id}}" class="btn btn-secondary"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="delete_colours/{{i.id}}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
            {%endfor%}
        </table>


    </div>
</main>
{% endblock  %}