{% extends 'app/base.html' %}
{% load static %}
{% block title %}Forgot password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center">User login</h3>
            <hr>

            <div class="container">
                <div class="p-2 m-5">
                    <div class="col-lg-9 mx-auto  border rounded p-3">
                        <h5 class="alert-sm alert-light  text-center text-color">forgot account?</h5>
                        <form  method="POST">
                            {% csrf_token %}


                           
                            <div class="mb-3">
                                <label for="" class="form-label">please enter phone number</label>
                                <input type="text" name='phone' id="" value=""
                                       class="form-control form-control-sm" placeholder="...">
                            </div>
                            <div class="form-group text-center">
                                <input class="btn btn-info col-lg-3" type="submit" value="submit">
                                <a href="/" class="btn btn-primary">Visit Website</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main-content %}